@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/locations">Locations</a></li>
      </ul>
    </div>
  </nav>
</div>

<form action="/schools/add" method="post">
  <div class="form-group">
    <label for="school-city">Enter the city name</label>
    <input class="form-control" name="school-city" type="text">
  </div>
  <div class="form-group">
    <label for="school-address">Enter in the school's address</label>
    <input class="form-control" name="school-address" type="text">
  </div>
  <div class="form-group">
    <label for="school-phone">Enter the schools phone number</label>
    <input class="form-control" name="school-phone" type="text">
  </div>
  <button type="submit" class="btn btn-info">Add School</button>
</form>
@if(Model!=null)
{
  <div class="container text-center">
    <h4>The School Has Been Added</h4>
    <p>A new Kickstart has been added to: @Model.GetCity()</p>
  </div>
}
<br>
<a href="/schools">Return to Schools</a>
<br>
<a href="/main">Return to Home</a>
