@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <h3>Students Enrolled in @Model["selectedTrack"].GetName()</h3>
</div>
@foreach(var student in Model["allStudents"])
{
  <li><a href="/student/details/@student.GetId()">@student.GetLastName(), @student.GetFirstName()</a></li>
}
