@{
  Layout="Shared/_Layout.cshtml";
}
<div class="container">
    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="/tracks">Tracks</a></li>
          <li><a href="/instructors">Instructors</a></li>
          <li><a href="/schools">Schools</a></li>
          <li><a href="/account/create">Create Account</a></li>
          <li><a href="/account/login">Login</a></li>
        </ul>
      </div>
  </nav>
</div>
<h3>Here are our instructors:</h3>

<a class="btn btn-info" href="/instructor/create">Add Instructor</a>


@if(Model.Count > 0)
{
  @foreach(var instructor in Model)
  {
    <div class="well title">
      <h4 class="embolden">@instructor.GetName()</h4>
      <div class="well inline">
        <h5>About this Instructor:</h5>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates repudiandae sint et molestiae non recusandae. Itaque earum rerum hic tenetur a sapiente delectus, ut aut reiciendis voluptatibus maiores alias consequatur aut perferendis doloribus asperiores repellat.</p>
      </div>

    </div>
  }
}
<a href="/">Return to Home</a>
