@{
  Layout="Shared/_Layout.cshtml";
}


<h3>Our instructors:</h3>

@if(Model.Count > 0)
{
  @foreach(var instructor in Model)
  {
    <div class="well title overflow">
      <h4 class="floatleft margintop embolden schoolname" style="font-size: 25px; margin-top: 6%;">@instructor.GetName()</h4>
      <div class="well special">
        <h3>About this Instructor:</h3>
        <p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga.</p>
      </div>

    </div>
  }
}

@if(Request.Cookies.ContainsKey("bool"))
{
  @if(Request.Cookies["bool"] == "true")
  {
    <div class="container text-center botmargin">
      <a class="btn btn-info" href="/instructor/create">Add Instructor</a>
    </div>
  }
}

<div class="container text-center">
  <a href="/main">Return to Home</a>
</div>
