@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Add an instructor:</h3>
<form action="/instructor/create" method="post">
  <div class="form-group">
    <label for="name">Enter your name:</label>
    <input class="form-control" type="text" name="name">
  </div>
  <div class="form-group">
    <label for="username">Enter your desired username:</label>
    <input class="form-control" type="text" name="username" required>
  </div>
  <div class="form-group">
    <label for="password">Enter your password:</label>
    <input class="form-control" type="password" name="password" required>
  </div>
  <div class="form-group">
    <label for="address">Enter your address:</label>
    <input class="form-control" type="text" name="address" required>
  </div>
  <div class="form-group">
    <label for="email">Enter your email:</label>
    <input class="form-control" type="text" name="email" required>
  </div>
  <button type="submit" class="btn btn-info">Create Account</button>
</form>

<a href="/main">Return to Home</a>
