@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Here are our schools:</h3>
@foreach (var school in Model)
{
  <li><a href="/schools/@school.GetId()">@school.GetCity()</a></li>
}
@if(Request.Cookies.ContainsKey("bool"))
      {
        @if(Request.Cookies["bool"] == "true")
        {
          <a href="/schools/add">Add New School location</a>
        }
      }
<a href="/main">Return to Home</a>
