@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<h3>Here are our schools:</h3>
@foreach (var school in Model)
{
  <li><a href="/schools/@school.GetId()">@school.GetCity()</a></li>
}
<br>
<a href="/schools/add">Add New School location</a>
<br>

<a href="/">Return to Home</a>
