@{
  Layout="Shared/_Layout.cshtml";
}

<h3>Our Schools:</h3>
@foreach (var school in Model)
{
  <div class="well overflow">
  <ul>
    <li class="customfloat" id="schools-list">
    <a href="/schools/@school.GetId()">@school.GetCity()</a>
    </li>
    <div class="well special">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
    </div>
  </ul>
  </div>
}
@if(Request.Cookies.ContainsKey("bool"))
{
  @if(Request.Cookies["bool"] == "true")
  {
    <a href="/schools/add">Add New School Location</a>
    <span>|</span>
  }
}
<a href="/main">Return to Home</a>
