@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/locations">Locations</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>
<h3>Student Info for: @Model["student"].GetUserName()</h3>
@if(@Model["courses"].Count != 0)
{
  <p>Courses isnt empty</p>
}
else{
  <p>Its empty</p>
}
@foreach(var c in Model["courses"])
{
  var newGrade = Model["student"].GetGrades(c.GetId());
  <ul>
    <li>Course: @c.GetName(), Attendance: @newGrade.GetAttendance(), Grade: @newGrade.GetGrade()</li>
  </ul>
}
