@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/tracks">Tracks</a></li>
        <li><a href="/instructors">Instructors</a></li>
        <li><a href="/schools">Schools</a></li>
        <li><a href="/account/create">Create Account</a></li>
        <li><a href="/account/login">Login</a></li>
      </ul>
    </div>
  </nav>
</div>

<h3>Here are the tracks that we offer:</h3>

@foreach(var track in Model)
{
  <div class="well title">
    <h4 class="embolden">@track.GetName()</h4>
    <form action="/track/edit/@track.GetId()" method="post">
      <input type="hidden" name="track-id" value='@track.GetId()'>
      <button type="submit">Edit</button>
    </form>
    <div class="well inline">
      <p>
        Courses:
      </p>
      @if (track.GetCourses().Count < 3)
      {
        <form action="/courses/addto/@track.GetId()" method="get">
          <input type="hidden" name="track-id" value="@track.GetId()">
          <button type="submit">Add Course to This Track</button>
        </form>
      }
      @foreach(var course in track.GetCourses())
      {
        <span>@course.GetName()</span>
        <form action="/course/remove/@course.GetId()/@track.GetId()" method="post">
          <input type="hidden" name="track-id" >
          <button type="submit">Remove</button>
        </form>
        <!-- <a href="/course/remove/@course.GetId()/@track.GetId()">Remove Course</a> -->
      }
    </div>
  </div>
}

<a href="/tracks/add">Add a Track</a>
<br>
<a href="/">Return to Home</a>
