@{
  Layout="Shared/_Layout.cshtml";
}

<div class="container">
    <h3>Add Track:</h3>
    <form action="/tracks/add" method="post">
      <div class="form-group">
        <label for="track-name">Track Name:</label>
        <input class="form-control" type="text" name="track-name" required>
      </div>
      <button type="submit" class="btn btn-info">Add</button>
    </form>

    <a href="/main">Return to Home</a>
</div>
