button{
  border-radius: 5px;
}

img{
  margin-top: 10px;
  max-width: 75%;
}

#mainimg {
    float: left;
    margin-left: 15px;
}

.inline {
  width: 100%;
  background-color: lightgrey;
  display: inline-block;
  text-align: center;
}

.inline span {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  /*float: left;*/
}

.title {
  text-align: center;

}

.embolden {
  font-size: 20;
  font-weight: bolder;
}

#student-info-well{
  padding-left: 35%;
  background-color: #29a7e1;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px black solid;
}
.student-info-header{
  color: black;
  font-size: .9em;
  text-shadow: none;
}
#student-info {
  list-style-type: square;
}

body {
  background-color: lightgray;
  font-family: lato;

}

#course-name{
border-bottom: 1px #29a7e1 solid;
font-family: lato;
}

#labels {
  font-size: 18px;
  font-weight: bold;
  color: #767676;
}
#course-label{
  font-size: 18px;
  font-weight: bold;
  color: #767676;
}
#track-label{
  font-size: 18px;
  font-weight: bold;
  color: black;
}

#grades-title{
  padding: 50px 0 50px 0;
  font-size: 2.5em;
}

#update-grade-button {
margin-top: 30px;
}
#return-to-school-button{
  /*margin-left: 10%;*/
}
.add-instructor-select{
  /*margin-top: 50px;*/
}

.vertalign {
vertical-align: middle;
justify-content: center;
}

.school-title {
  text-align: center;
  background-color: #29a7e1;;
  color: white;
  width: 444px;
  margin: auto;
  padding: 8px;
}

.adjheight {
  height: 120px;
}

.tracks {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.track-names {
  list-style: none;
  font-size: 20px;
  padding-top: 25px;
  border-bottom: 1px #29a7e1 solid;
}

.centalign {
  text-align: center;
}

.track-buttons{
  float: right;
  padding-top: 25px;
  margin-left: 1px;
  margin-right: 1px;
}

.courses-tracks{
  padding-left: 11.5%;
  margin-bottom: 0px;
}
.courses-tracks-2{
  padding-left: 11.5%;
  margin-bottom: 40px;
  padding-bottom: 25px;
  border-bottom: 2px solid black;
}
.add-course-button{
  margin-left: 35%;
  margin-top: 10px;
}

.courses-tracks-buttons {
  margin-top: 5px;
}

.course-names{
  font-size: 20px;
  padding-top: 0px;

  width: 80%;
  border-bottom: 1px #29a7e1 solid;
}

.track-title{
  background-color: #29a7e1;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 50px;
}

.edit-track {
  font-size: .8em;
  text-align: right;
  color: black;
}

#track-page-title{
  text-align: center;
}

.floatright {
    float: right;
    margin-left: 3px;
    margin-right: 3px;
}

.floatleft {
    float: left;
}

.limitwidth {
    margin-top: 10px;
    width: 1000px;
}

.btn-custom {
  background-color: rgb(68,68,68);
  color: white;
}
