/*html tag styling*/
body {
  /*background-color: lightgrey;*/
  background-color: rgba(234,234,234,1);
  font-family: lato;

}
button{
  border-radius: 5px;
}

/*img{
  margin-top: 10px;
  max-width: 75%;
}*/

ul{
  list-style-type: none;
}

nav li {
  font-size: 20px;
  margin-right: 6px;
}

h3 {
  margin-top: 10px;
}

/*a {
  font-size: 16px;
}*/



.school-title {
  font-size: 18px;
}

/*class styling*/
.inline {
  width: 100%;
  background-color: rgb(51, 52, 52);
  display: inline-block;
  text-align: center;
}


.inline span {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 16px;
  /*float: left;*/
}

.title {
  vertical-align: center;
  float: left;
  text-align: center;
  color: white;
}

.margintop {
  margin-left: 3%;
  margin-top: 11%;
}

.embolden {
  font-size: 20;
  font-weight: bolder;
}

.student-info-header{
  color: black;
  font-size: .9em;
  text-shadow: none;
}

.add-instructor-select{
  /*margin-top: 50px;*/
}

.vertalign {
  vertical-align: middle;
  justify-content: center;
}

.school-title {
  text-align: center;
  background-color: #29a7e1;;
  color: white;
  width: 444px;
  margin: auto;
  padding: 8px;
}

.adjheight {
  height: 120px;
}

.schoolname {
    text-shadow: 1px 1px 4px #000;
}

.schoolname:hover {
  text-decoration: none;
}

.tracks {
  width: 80%;
  margin: auto;
  margin-bottom: 50px;
}

.track-names {
  list-style: none;
  font-size: 20px;
  padding-top: 25px;
  border-bottom: 1px #29a7e1 solid;
}

.centalign {
  text-align: center;
}

.track-buttons{
  float: right;
  padding-top: 25px;
  margin-left: 1px;
  margin-right: 1px;
}

.courses-tracks{
  padding-left: 11.5%;
  margin-bottom: 0px;
}
.courses-tracks-2{
  padding-left: 11.5%;
  margin-bottom: 40px;
  padding-bottom: 25px;

  border-bottom: 4px solid;
  border-image: linear-gradient(to right, transparent, transparent, rgb(45, 164, 227), black, black, black, black, black, rgb(45, 164, 227), transparent, transparent) 10;
}
.add-course-button{
  margin-left: 35%;
  margin-top: 10px;
}

.courses-tracks-buttons {
  margin-top: 5px;
}

.course-names{
  font-size: 20px;
  padding-top: 0px;

  width: 80%;
  border-bottom: 1px #29a7e1 solid;
  margin-top: 10px;
  margin-bottom: 10px;
}

.track-title{
  background-color: #29a7e1;
  color: white;
  width: 80%;
  margin: auto;
  margin-top: 35px;
}

.edit-track {
  font-size: .8em;
  text-align: right;
  color: black;
}

.floatright {
  float: right;
  margin-left: 3px;
  margin-right: 3px;
}

.floatleft {
  float: left;
}

.limitwidth {
  margin-top: 10px;
  width: 873px;
}

.squarebtn {
  border-radius: 0;
  border: solid rgb(52, 52, 52);
  border-width: 2px 2px 0px;
}

.squarebtn:hover {
  border-radius: 0;
  border: solid rgb(52, 52, 52);
  border-width: 2px 2px 0px;
}

.navbar-inverse {
  background-color: rgb(52, 52, 52);
}

.btn-custom {
  background-color: rgb(68,68,68);
  color: white;
  margin: 10px;
  margin: -0.5em auto 0px;
}

.btn-custom2 {
  background-color: rgb(68,68,68);
  color: white;
  margin: 3px;
  /*margin: -0.5em auto 0px;*/
}

.glyphicon:hover {
  color: rgb(45, 164, 227);
}

.special {
  width: 60%;
  float: right;
  margin-bottom: 0;
  background-color: rgb(71, 72, 72);
  border: 2px solid black;
  box-shadow: inset 0px 0px 5px 3px rgba(0,0,0,0.6);
}

.special p{
  color: white;
}

.rowoverflow {
  /*overflow-x: auto;*/
}

.inline p{
  color: white;
  font-size: 16px;
}

.inline h3{
  color: white;
}
.overflow {
  overflow: auto;
  background-color: rgb(51, 52, 52);
}

.customfloat {
  float: left;
  vertical-align: middle;
  margin-top: 45px;
  margin-left: 20px;
}

.botmargin {
  margin-bottom: 15px;
}

/*id styling*/
#mainimg {
  /*float: left;*/
  /*margin-left: 15px;*/
  width: 50%;
}

#student-info-well{
  padding-left: 35%;
  background-color: #29a7e1;
  color: white;
  text-shadow: 1px 1px black;
  border: 1px black solid;
}
#student-info {
  list-style-type: square;
}

#course-name{
border-bottom: 1px #29a7e1 solid;
font-family: lato;
}

#labels {
  font-size: 18px;
  font-weight: bold;
  color: #767676;
}
#course-label{
  font-size: 18px;
  font-weight: bold;
  color: #767676;
}
#track-label{
  font-size: 18px;
  font-weight: bold;
  color: black;
  float: left;
}

#track-name{
  margin-left: 10px;
  text-shadow: 1px 1px black;
}

#grades-title{
  padding: 50px 0 50px 0;
  font-size: 2.5em;
}

#update-grade-button {
margin-top: 30px;
}
#return-to-school-button{
  /*margin-left: 10%;*/
}

#schools-list{
  font-size: 35px;
}

#track-page-title{
  text-align: center;
}
